body {
    background-color: rgb(248, 250, 238);
}

.row-margin {
    margin: auto;
    margin-top: 70px;
    margin-bottom: 60px;
    width: 72%;
  
    box-shadow: rgba(124, 124, 124, 0.419608) 0px 1px 6px 0px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-config {
    background-color: rgba(239, 242, 229, 0.901961);
    height: 75px;
}

.nav-box {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

.li-home:hover {
    background-color: rgb(211, 133, 61);
    color: white;
}

.li-project:hover {
    background-color: rgb(63, 138, 117);
}

.li-modeling:hover {
    background-color: rgb(125, 125, 125);
}

.li-policy:hover {
    background-color: rgb(160, 42, 27);
}

.li-safety:hover {
    background-color: rgb(63, 138, 117);
}

.li-team:hover {
    background-color: rgb(125, 125, 125);
}

.li-achievement:hover {
    background-color: rgb(211, 133, 61);
}

.nav-left {
    font-family: Raleway thin;
    font-size: 48px;
    padding-left: 0px;
    padding-top: 12px;
}

.nav-right {
    font-family: Raleway thin;
    font-size: 1.5em;
}
